.content{
    color: #ffffff;
    height: 100%;
    width: 100%;
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
}

.content-header{
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.nav-bar{
    color: #ffffff;
    background-color: red;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.left-drawer{
    text-align: left !important;
}

.drawer-button{
    width: 100%;
    background-color: transparent !important;
    border: none !important;
    box-shadow: transparent !important;
    color: inherit !important;
    font-size: inherit;
    cursor: pointer;
    outline: none !important;
    border-radius: 10px !important;
    background-color: rgb(70, 70, 70) !important;
    align-items: start !important;
    height: 50px !important;
}
.drawer-button-primary{
    background-color: rgba(15, 255, 175, 0.726) !important;
    height: 70px !important;
}

.close-button {
    background-color: transparent !important;
    border: none !important;
    border-radius: 50%;
    box-shadow: none !important;
    text-shadow: transparent !important;
    color: white !important;
    font-size: 12px !important; /* Adjust icon size */
    padding: 8px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    outline: transparent !important;
}

.create-server-popup{
    height: 80%;
    width: 40%;
    border-radius: 10px !important;
}

.server-card{
    width: 49%;
    height: fit-content;
    border-radius: 10px !important;
}

.content-empty-state{
    font-size: 15px;
    height: 80vh;
    vertical-align: middle;
    align-items: center;
    text-align: center;
}

.center-text-horizontal{
    text-align: center !important;
    align-items: center !important;
    margin-left: 35% !important;
}

.start-button{
    border-radius: 10px !important; 
}

.stop-button{
    border-radius: 10px !important; 
    background-color:rgb(216, 68, 68) !important;
    width: 10px;
    height: 10px;
}